@media only screen and (max-width: 769px){
    .navbar{
        @include top-border-corners(5px);
        background-color: $primary-color;
        .container-fluid{
            .navbar-header{
                @include top-border-corners(5px);
                background-color:$primary-color;
                width:100%;
                margin:0;
                button{
                    background-color: $secondary_color;
                    @include box-shadow();
                    border:none;
                    span{
                        height:3px;
                        width:24px;
                    }
                }
            }
            .navbar-collapse{
                width:100%;
                margin:0;
                border:none;
                ul{
                    height:auto;
                    border-radius: 0px;
                    li{
                        border-top:1px solid #FFF;
                        width:100%;
                        background-color: $secondary_color;
                        a{
                            line-height:30px;
                        }
                    }
                }
            }
        }
    }
    .project{
        display:block !important;
        width: 90% !important;
        margin: 0px auto !important;
        margin-top:5px !important;
        margin-bottom:5px !important;
        float:none !important;
        clear: both;
    }
    .images{
        display:block;
        width:98%;
        margin:1%;
        img{
            width:31% !important;
        }
    }
    .video-container{
        width:98% !important;
        margin:1%;
        .video{
            width:48% !important;
            margin:1% !important;
        }
    }
    .social{
        .social-icon{
            a{
                img{
                    filter:blur(0px) grayscale(0%) !important;
                }
            }
        }
    }
}