$primary_color: #EA2027;
$secondary_color: #fc3f45;
$button-color:#e51212;
$primary_font: 'Montserrat', sans-serif;
$button_font: 'Roboto', sans-serif;
@mixin all-border-corners($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin top-border-corners($radius) {
    -webkit-border-radius: $radius $radius 0px 0px;
    -moz-border-radius: $radius $radius 0px 0px;
    -ms-border-radius: $radius $radius 0px 0px;
    border-radius: $radius $radius 0px 0px;
}
@mixin border-corners-active-first($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -ms-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}
@mixin border-corners-active-last($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-top-right-radius: $radius;
    -ms-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}
@mixin animation($time) {
    -webkit-transition: all $time;
    -moz-transition: all $time;
    -ms-transition: all $time;
    transition: all $time;
}
@mixin box-shadow() {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, .4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, .4);
    box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, .4);
}
@import 'left_sidebar';
@import 'right_sidebar';
@import 'menu';
@import 'media';
body{
    background-color: #ededed;
    .container-fluid{
        background-color: #ededed;
        .row{
            margin:0;
            background-color: #f7f7f7;
            .col-md-3{
                padding: 5px;
            }
            .main{
                padding:0;
                margin-top:10px;
                margin-bottom: 5px;
                background-color:#FFF;
                @include all-border-corners(5px);
                .galery{
                    width:100%;
                    border:2px solid $primary_color;
                    @include all-border-corners(5px);
                    margin-bottom:5px;
                    h2{
                        background-color:$primary_color;
                        font-family: $primary_font;
                        color:#FFF;
                        margin:0;
                        font-size: 22px;
                        padding: 1.5%;
                        @include top-border-corners(3px);
                    }
                    .images{
                        width:100%;
                        display:inline-block;
                        img{
                            min-height:130px;
                            height:auto;
                            width:23%;
                            margin:1%;
                            float: left;
                            @include all-border-corners(10px);
                            @include box-shadow();
                        }
                    }
                    .video-container{
                        width:100%;
                        display: inline-block;
                        .video{
                            width:31%;
                            margin:1%;
                            float: left;
                            @include all-border-corners(5px);
                            @include box-shadow();
                            cursor: pointer;
                            @include animation(0.3s);
                            iframe{
                                display: block;
                                width:100%;
                                border-radius: inherit;
                            }
                        }
                    }
                }
                .section{
                    display: block;
                    background-color:#FFF;
                    border:2px solid $primary_color;
                    margin-bottom:5px;
                    @include all-border-corners(5px);
                    &:last-child{
                        margin-bottom:0;
                    }
                    ul{
                        margin-left: 20px;
                        li{
                            text-align: left;
                            font-size: 16px;
                            line-height: 25px;
                            margin-left: 20px;
                            list-style-position: inside;
                            list-style-type: circle;
                            font-family: $primary_font;
                        }
                    }
                    h2{
                        background-color:$primary_color;
                        font-family: $primary_font;
                        color:#FFF;
                        margin:0;
                        font-size: 22px;
                        text-align:center;
                        padding: 1.5%;
                        @include top-border-corners(3px);
                    }
                    p{
                        margin:8px;
                        text-align: justify;
                        word-spacing: 1px;
                        text-indent: 20px;
                        font-size: 16px;
                        line-height: 25px;
                        font-family: $primary_font;
                        &.contact{
                            font-size:20px;
                            margin:20px 0 20px 20px;
                            text-align: left;
                        }
                    }
                    .social{
                        position: relative;
                        width:95%;
                        display: table;
                        @include all-border-corners(5px);
                        margin:0px auto;
                        margin-bottom: 5px;
                        background-color:#FFF;
                        border:1px solid $secondary_color;
                        h2{
                            display:block;
                            font-size:20px;
                            font-family:$primary_font;
                            padding: 2%;
                            background-color: $secondary_color;
                            color:#FFF;
                        }
                        .social-icon{
                            position: relative;
                            display: inline-block;
                            width:29%;
                            margin: 2%;
                            a{
                                display: block;
                                height:auto;
                                img{
                                    width:100%;
                                    height:100%;
                                    filter:blur(3px) grayscale(100%);
                                    @include animation(0.3s);
                                }
                                img:hover{
                                    filter:blur(0.5px) grayscale(0%);
                                    @include animation(0.3s);
                                }
                            }
                        }
                    }
                    .form-horizontal{
                        display: block;
                        margin: 5px;
                        .form-group{
                            margin:5px;
                            label{
                                font-size:16px;
                                font-family: $primary_font;
                                font-weight: normal;
                                margin-bottom: 0;
                            }
                            input{
                                border:2px solid $primary_color;
                                font-family: $primary_font;
                                padding: 5px;
                                &:focus{
                                    box-shadow: none;
                                }
                            }
                            select{
                                font-size: 14px;
                                font-family: $primary_font;
                                border:2px solid $primary_color;
                                &:focus{
                                    box-shadow: none;
                                }
                                option{
                                    font-size: 18px;
                                    font-family: $primary_font;
                                }
                            }
                        }
                        button{
                            font-size: 18px;
                            font-family: $button_font;
                            background-color: $button_color;
                            border: none;
                            margin-top:10px;
                            margin-bottom: 10px;
                            @include box-shadow();
                            @include animation(0.3s);
                            @include all-border-corners(5px);
                            &:hover{
                                background-color: $secondary_color;
                                @include animation(0.3s);
                            }
                            &:focus{
                                outline: none;
                            }
                        }
                    }     
                }
                .project-container{
                    display: inline-block;
                    background-color:#FFF;
                    border:2px solid $primary_color;
                    margin-bottom:5px;
                    @include all-border-corners(5px);
                    .project{
                        position: relative;
                        width:48%;
                        margin:1%;
                        float: left;
                        border:none;
                        @include box-shadow();
                        @include top-border-corners(5px);
                        padding:0;
                        h3{
                            display: block;
                            font-size:22px;
                            font-family: $primary_font;
                            color:#FFF;
                            text-align: center;
                            height:auto;
                            @include top-border-corners(5px);
                            padding:2%;
                            margin: 0;
                            background-color: $secondary_color;
                        }
                        img{
                            display: block;
                            width:90%;
                            margin: 0px auto;
                            margin-top:5px;
                            margin-bottom: 5px;
                            @include all-border-corners(10px);
                            @include box-shadow();                        }
                        }
                        ul{
                            li{
                                list-style-type:disc;
                            }
                        }
                }
            }
        }
        .footer{
            background-color: $primary_color;
            padding: 0.5%;
            margin: 0;
            margin-bottom:5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            p{
                padding:5px;
                margin: 0;
                text-align: center;
                font-size: 16px;
                font-family: $primary_font;
                color: #FFF;
            }
        }
    }
}
