.left-sidebar {
  width: 98%;
  margin: 0px auto;
  margin-top: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFF;
}

.left-sidebar p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.left-sidebar button {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #e51212;
  border: none;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.left-sidebar button:hover {
  background-color: #fc3f45;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.right-sidebar {
  width: 98%;
  margin: 0px auto;
  margin-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFF;
  text-align: center;
}

.right-sidebar h3 {
  margin: 0;
  padding: 2%;
  background-color: #EA2027;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -ms-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.right-sidebar p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 3%;
  padding: 0;
}

.right-sidebar img {
  display: block;
  width: 75%;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
}

.navbar {
  margin: 0px;
  border: none;
  margin-top: 3px;
}

.navbar .container-fluid {
  padding: 0;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.navbar .container-fluid .collapse {
  padding: 0;
}

.navbar .container-fluid .collapse ul {
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  background-color: #fc3f45;
}

.navbar .container-fluid .collapse ul .active:first-of-type a {
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}

.navbar .container-fluid .collapse ul .active:last-of-type a {
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.navbar .container-fluid .collapse ul .active a {
  background-color: #EA2027;
}

.navbar .container-fluid .collapse ul li {
  width: 20%;
  margin: 0;
  padding: 0;
}

.navbar .container-fluid .collapse ul li:last-of-type a {
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.navbar .container-fluid .collapse ul li:first-of-type a {
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}

.navbar .container-fluid .collapse ul li a {
  height: 50px;
  line-height: 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #FFF;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .container-fluid .collapse ul li a:hover {
  background-color: #EA2027;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
  .navbar {
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #EA2027;
  }
  .navbar .container-fluid .navbar-header {
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #EA2027;
    width: 100%;
    margin: 0;
  }
  .navbar .container-fluid .navbar-header button {
    background-color: #fc3f45;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
    border: none;
  }
  .navbar .container-fluid .navbar-header button span {
    height: 3px;
    width: 24px;
  }
  .navbar .container-fluid .navbar-collapse {
    width: 100%;
    margin: 0;
    border: none;
  }
  .navbar .container-fluid .navbar-collapse ul {
    height: auto;
    border-radius: 0px;
  }
  .navbar .container-fluid .navbar-collapse ul li {
    border-top: 1px solid #FFF;
    width: 100%;
    background-color: #fc3f45;
  }
  .navbar .container-fluid .navbar-collapse ul li a {
    line-height: 30px;
  }
  .project {
    display: block;
    width: 70%;
    margin: 0px auto;
    float: none;
  }
}

body {
  background-color: #fefefe;
}

body .container-fluid {
  background-color: #fefefe;
}

body .container-fluid .row {
  margin: 0;
  background-color: #f7f7f7;
}

body .container-fluid .row .col-md-3 {
  padding: 5px;
}

body .container-fluid .row .main {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

body .container-fluid .row .main .section {
  display: block;
  background-color: #FFF;
  border: 2px solid #EA2027;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

body .container-fluid .row .main .section:last-child {
  margin-bottom: 0;
}

body .container-fluid .row .main .section ul {
  margin-left: 20px;
}

body .container-fluid .row .main .section ul li {
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  margin-left: 20px;
  list-style-position: inside;
  list-style-type: circle;
  font-family: "Montserrat", sans-serif;
}

body .container-fluid .row .main .section h2 {
  background-color: #EA2027;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  margin: 0;
  font-size: 22px;
  padding: 1.5%;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -ms-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

body .container-fluid .row .main .section p {
  margin: 8px;
  text-align: justify;
  word-spacing: 1px;
  text-indent: 20px;
  font-size: 16px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
}

body .container-fluid .row .main .section .form-horizontal {
  display: block;
  margin: 5px;
}

body .container-fluid .row .main .section .form-horizontal .form-group {
  margin: 5px;
}

body .container-fluid .row .main .section .form-horizontal .form-group label {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

body .container-fluid .row .main .section .form-horizontal .form-group input {
  border: 2px solid #EA2027;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

body .container-fluid .row .main .section .form-horizontal .form-group input:focus {
  box-shadow: none;
}

body .container-fluid .row .main .section .form-horizontal .form-group select {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #EA2027;
}

body .container-fluid .row .main .section .form-horizontal .form-group select:focus {
  box-shadow: none;
}

body .container-fluid .row .main .section .form-horizontal .form-group select option {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

body .container-fluid .row .main .section .form-horizontal button {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #e51212;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

body .container-fluid .row .main .section .form-horizontal button:hover {
  background-color: #fc3f45;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

body .container-fluid .row .main .section .form-horizontal button:active {
  outline: none;
}

body .container-fluid .row .main .project-container {
  display: inline-block;
  background-color: #FFF;
  border: 2px solid #EA2027;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

body .container-fluid .row .main .project-container .project {
  position: relative;
  width: 48%;
  margin: 1%;
  float: left;
  border: none;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 0;
}

body .container-fluid .row .main .project-container .project h3 {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  text-align: center;
  height: auto;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 2%;
  margin: 0;
  background-color: #fc3f45;
}

body .container-fluid .row .main .project-container .project img {
  display: block;
  width: 90%;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
}

body .container-fluid .row .main .project-container ul li {
  list-style-type: disc;
}

body .container-fluid .footer {
  background-color: #EA2027;
  padding: 0.5%;
  margin: 0;
  margin-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

body .container-fluid .footer p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
}
/*# sourceMappingURL=main.css.map */